In [1]:
2+3

5

# working with variables and expressions

In [1]:
#variable declaration 
a= 10 #integer assignment
b= 5.3 #floating point
c="hello python" # A string

In [12]:
a,b,c

(10, 5.3, 'hello python')

In [13]:
a=b=c=100 #multiple assignment

In [14]:
a,b,c

(100, 100, 100)

In [15]:
l1=[1,2,3,4,5]

In [16]:
l1

[1, 2, 3, 4, 5]

In [17]:
l2=[4,5,6,7]

In [18]:
l2

[4, 5, 6, 7]

In [19]:
l3=[1,"ibm",3]

In [20]:
l3

[1, 'ibm', 3]

# accesing list elements

In [21]:
l2[0]

4

In [22]:
l1[2]

3

In [23]:
# variable list with integers
l5=[1,2,3,4]
l5 #integer list

[1, 2, 3, 4]

In [24]:
l1.append(6)

In [25]:
l1

[1, 2, 3, 4, 5, 6]

# insert a data item into required position

In [26]:
l1[2]=9

In [27]:
l1

[1, 2, 9, 4, 5, 6]

In [30]:
# vairable list with integer and float
l5=[1,0.5]
l5= #integer and float list

SyntaxError: invalid syntax (<ipython-input-30-80e64f07757e>, line 3)

In [31]:
l5=[1,0.5]

In [32]:
l5

[1, 0.5]

In [33]:
l5[0]=0.2

In [34]:
l5

[0.2, 0.5]

# extend

In [35]:
l1=['a','b']

In [36]:
l1

['a', 'b']

In [37]:
l1.extend(['c','d'])

In [38]:
l1

['a', 'b', 'c', 'd']

In [39]:
l1.index('a')

0

# index

In [40]:
l1.index('c')

2

In [41]:
l7=['a','b','c','d','e']

In [42]:
l7

['a', 'b', 'c', 'd', 'e']

In [43]:
l7.remove('e')

In [44]:
l7

['a', 'b', 'c', 'd']

# remove

In [45]:
l7.remove('e')

ValueError: list.remove(x): x not in list

In [46]:
l7.remove('d')

In [47]:
l7

['a', 'b', 'c']

# count

In [48]:
l8=['a','b','c','d','a']

In [49]:
l8

['a', 'b', 'c', 'd', 'a']

In [50]:
l8.count('a')

2

In [51]:
l8.sort()

In [52]:
l9=[4,1,3,2]

In [61]:
l9

[1, 2, 3, 4]

In [62]:
l1=[1,2,4,3]

In [63]:
l1

[1, 2, 4, 3]

In [65]:
l1.sort()

In [66]:
l1

[1, 2, 3, 4]

In [67]:
l2=[4,7,8,9]

In [68]:
l1

[1, 2, 3, 4]

In [69]:
l2

[4, 7, 8, 9]

In [70]:
l2.sort(reverse=true)

NameError: name 'true' is not defined

In [71]:
l4=[5,6,7,8,12,15,1,2,3,20,21,23]

In [72]:
l4

[5, 6, 7, 8, 12, 15, 1, 2, 3, 20, 21, 23]

In [73]:
l4.sort()

In [76]:
l4

[1, 2, 3, 5, 6, 7, 8, 12, 15, 20, 21, 23]

# tuple

In [77]:
t1=[1,4,6]

In [78]:
t1

[1, 4, 6]

In [79]:
t2=[1,'smart']

In [80]:
t2

[1, 'smart']

# other way to create tuple

In [81]:
t3=1,2

In [82]:
t3

(1, 2)

In [83]:
s1=(1,0)

In [84]:
s1

(1, 0)

In [85]:
s1+=(1,)

In [96]:
s1

(1, 0, 1)

In [97]:
(a,b,c)=(15,20,25)

In [98]:
a

15

In [99]:
b

20

In [100]:
c

25

In [101]:
(x,y)=(1,2)

In [102]:
(x,y)=(y,x)

In [104]:
(x,y)

(2, 1)

In [105]:
l1=[1,2,3]

In [108]:
l1

[1, 2, 3]

In [107]:
len(l1)

3

In [109]:
s2=(4,5,6,7)
s2

(4, 5, 6, 7)

In [110]:
s2[2:]

(6, 7)

In [111]:
s2=(1,2,3,4,5)

In [112]:
s2

(1, 2, 3, 4, 5)

In [113]:
s2[1:]

(2, 3, 4, 5)

In [127]:
s2[3:]

(4, 5)

In [128]:
d1={"jan":1,"b":2}

In [131]:
d1

{'jan': 1, 'b': 2}

In [132]:
d1.keys

In [133]:
d={"a":1,"b":2}

In [134]:
d.keys

In [135]:
d1={"a":1,"b":2,"c":3}

In [136]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [137]:
d1.popitem()

('c', 3)

In [138]:
d1.clear()

In [139]:
d1

{}

In [140]:
del d1['b']

KeyError: 'b'

In [142]:
d1={"a":1,"b":2,"c":3}

In [143]:
d1

{'a': 1, 'b': 2, 'c': 3}

In [144]:
del d1['a']

In [145]:
d1

{'b': 2, 'c': 3}

In [146]:
text1="welcome to python"

In [147]:
text1

'welcome to python'

In [148]:
text1[1]

'e'

In [149]:
text1[0]='b'

TypeError: 'str' object does not support item assignment

In [163]:
t1="welcome"

# create multiline string in python

# set

In [164]:
a=set([1,2,3,4,5])

In [165]:
a

{1, 2, 3, 4, 5}

In [166]:
b=set([3,4,5,6])

In [167]:
b

{3, 4, 5, 6}

In [168]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [169]:
c=a.intersection(b)

In [170]:
c

{3, 4, 5}

In [171]:
c.issubset(a)

True

In [172]:
c.issuperset(a)

False

In [173]:
a.add(b)

TypeError: unhashable type: 'set'

# frozen set

In [174]:
a=frozenset([1,2,3,4])

In [175]:
a

frozenset({1, 2, 3, 4})

In [176]:
b=frozenset([2,3,4,5])

In [177]:
b

frozenset({2, 3, 4, 5})

In [178]:
c=set([1,2,3])

In [179]:
d=frozenset([4,5,6])

In [180]:
c.add(frozenset(d))

In [181]:
c

{1, 2, 3, frozenset({4, 5, 6})}